<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Stt</th>
        <th scope="col">Bài thi </th>
        <th scope="col">Môn </th>
        <th scope="col">Điểm </th>
        <th scope="col">Thời gian làm bài </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of data">
        <th scope="row">1</th>
        <td>{{x.stt}}</td>
        <td>{{x.test}}</td>
        <td>{{x.subject}}</td>
        <td>{{x.total}}</td>
        <td>{{x.time}}</td>
        <td><button type="button" class="btn btn-primary">Thi lại</button></td>
      </tr>
      
    </tbody>
  </table>