
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/history" routerLinkActive="active">History</a>
    <a routerLink="/subject" routerLinkActive="active">Subject </a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    
  <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
      </button>
  </div>
  <p>
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-user"></span> Logout
      </a>
    </p> 
</nav>